.button {
  padding: 15px 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  border: none;
  background-color: #000000;
  color: white;
  cursor: pointer;
}

.disabledButton {
  padding: 15px 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  border: none;
  background-color: #353535;
  color: white;
  cursor: pointer;
}